# Pandas 연습

In [1]:
import pandas as pd

In [3]:
s1 = pd.Series([10,20,30,40,50])
s1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [4]:
s1.index
print(s1.index)

RangeIndex(start=0, stop=5, step=1)

In [5]:
s1.values

array([10, 20, 30, 40, 50], dtype=int64)

In [6]:
s2 = pd.Series(['a','b','c',1,2,3])
s2

0    a
1    b
2    c
3    1
4    2
5    3
dtype: object

In [7]:
import numpy as np

s3 = pd.Series([np.nan,10,30])
s3

0     NaN
1    10.0
2    30.0
dtype: float64

In [8]:
index_date=['2018-10-07','2018-10-08','2018-10-09','2018-10-10']
s4 = pd.Series([200,195,np.nan,205],index=index_date) #index
s4

2018-10-07    200.0
2018-10-08    195.0
2018-10-09      NaN
2018-10-10    205.0
dtype: float64

In [9]:
s5 = pd.Series({'kor':100, 'eng':95,'math':90}) #dict
s5

kor     100
eng      95
math     90
dtype: int64

### 날짜 자동생성: date_range

In [10]:
pd.date_range(start = '2019-01-01',end = '2019-01-07') #2019/01/01, 2019.01.01 다됨

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07'],
              dtype='datetime64[ns]', freq='D')

In [12]:
pd.date_range(start='2019.01.01',periods=7) #freq을 정해주지않으면 기본적으론 Day

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07'],
              dtype='datetime64[ns]', freq='D')

In [13]:
pd.date_range(start='2019.01.01',periods=7,freq='2D') #freq안에 들어가는건 책참고

DatetimeIndex(['2019-01-01', '2019-01-03', '2019-01-05', '2019-01-07',
               '2019-01-09', '2019-01-11', '2019-01-13'],
              dtype='datetime64[ns]', freq='2D')

In [14]:
index_date = pd.date_range(start='2019.03.01',periods=5,freq='D')
pd.Series([51,62,55,49,58],index=index_date) #일일 판매량 같은거 할 때 유용

2019-03-01    51
2019-03-02    62
2019-03-03    55
2019-03-04    49
2019-03-05    58
Freq: D, dtype: int64

### dataframe을 활용한 데이터생성

In [16]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9